<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Myimgur | {% block title %}{% endblock title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div>
            <a href="/">Myimgur</a>
            <a href="/images">Vidi sve slike</a>
            <a href="/images/new">Dodaj sliku</a>
        </div>
        <div>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>