{% extends 'images/base.html' %}

{% block title %}Dodaj sliku{% endblock title %}

{% block content %}

    <h1>Dodaj novu sliku</h1>
    <form action="#" method="POST">
        {% csrf_token %}
        <label for="title">Title</label>
        <input type="text" name="title" id="title"><br>
        <label for="desc">Description</label>
        <input type="text" name="desc" id="desc"><br>
        <label for="url">URL</label>
        <input type="text" name="url" id="url"><br>
        <label for="created_at">Created at</label>
        <input type="date" name="created_at" id="created_at"><br>

        <input type="submit" value="Posalji sliku">
    </form>

{% endblock content %}