{% extends "images/base.html" %}

{% block content %}

<h1>Objavi svoju sliku</h1>
<form action="{% url 'images:create' %}" method="post">
    {% csrf_token %}
    <label for="title">Title</label>
    <input type="text" name="title"><br>
    <label for="desc">Description</label>
    <input type="text" name="desc"><br>
    <label for="pub_date">Pub date</label>
    <input type="date" name="pub_date"><br>
    <label for="url">URL</label>
    <input type="text" name="url"><br>
    <input type="submit" value="Objavi sliku">
</form>

{% endblock content %}
